<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <!-- <ion-button (click)="onOpenMenu()"> Open </ion-button> -->
    <ion-title>Discover Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-segment value="all" (ionChange)="onFilterUpdate($event)">
      <ion-segment-button value="all">All Places</ion-segment-button>
      <ion-segment-button value="bookable">Bookable Places</ion-segment-button>
    </ion-segment>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{places[0].title}}</ion-card-title>
            <ion-card-subtitle
              >{{places[0].price | currency}}</ion-card-subtitle
            >
          </ion-card-header>
          <ion-img
            style="width: 100%; height: 150px"
            [src]="places[0].imageUrl"
          ></ion-img>
          <ion-card-content>
            <p>{{places[0].description}}</p>
          </ion-card-content>
          <div class="ion-text-right">
            <ion-button
              fill="clear"
              color="primary"
              [routerLink]="['/', 'places', 'tabs', 'discover', places[0].id]"
              detail
              >More</ion-button
            >
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-virtual-scroll [items]="places">
          <ion-item
            *virtualItem="let place;"
            [routerLink]="['/', 'places','tabs', 'discover', place.id]"
          >
            <ion-thumbnail slot="start">
              <ion-img [src]="place.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{place.title}}</h2>
              <p>{{place.description}}</p>
            </ion-label>
          </ion-item>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
