<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button id="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>My Offers</ion-title>
    <ion-buttons slot="primary">
      <ion-button
        fill="clear"
        color="primary"
        routerLink="/places/tabs/offers/new"
      >
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <div class="ion-text-center" *ngIf="isLoading">
          <ion-spinner color="primary"></ion-spinner>
        </div>
        <div text-center *ngIf="!isLoading && !offers.length">
          <p>No offers found! Please create one first!</p>
          <ion-button
            color="primary"
            routerLink="/places/tabs/offers/new"
          ></ion-button>
        </div>
        <ion-list *ngIf="!isLoading && offers.length">
          <ion-item-sliding *ngFor="let offer of offers.slice(1)" #slidingItem>
            <app-offer-item [offer]="offer"></app-offer-item>
            <ion-item-options>
              <ion-item-option
                color="secondary"
                (click)="onEdit(offer.id, slidingItem)"
              >
                <ion-icon name="create" slot="start"></ion-icon>
              </ion-item-option>
              <ion-item-option color="danger" (click)="onDelete(offer.id)">
                <ion-icon name="trash-outline" slot="start"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
