<ion-header>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-title>{{isLogin ? "Login": "Sign Up"}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form
    class="ion-align-items-center"
    #form="ngForm"
    (ngSubmit)=" onSubmit(form)"
  >
    <ion-row>
      <ion-col sizeMd="6" offsetMd="3">
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input
            type="email"
            [required]
            email
            minlength="5"
            ngModel
            name="email"
            autocomplete="off"
          ></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Password</ion-label>
          <ion-input
            type="password"
            required
            ngModel
            minlength="5"
            name="password"
            autocomplete="off"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col sizeMd="6" offsetMd="3" class="ion-text-center">
        <ion-button
          type="submit"
          color="danger"
          expand="block"
          [disabled]="!form.valid || isLoading"
          >Sign In

          <!-- <ion-spinner *ngIf="isLoading" color="primary"></ion-spinner> -->
        </ion-button>
        <ion-button
          type="button"
          fill="clear"
          expand="block"
          (click)="onSwitchAuthMode()"
          >Switch to {{ isLogin ? 'Sign Up': 'Login'}}</ion-button
        >
        <a [routerLink]="['/forgot-password']" expand="block"
          >Forgot Password?</a
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
