<ion-header>
  <ion-toolbar>
    <ion-title>{{ this.selectedPlace.title }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h1>{{ this.selectedPlace.description }}</h1>
  <form>
    <ion-row>
      <ion-col sizeSm="6" offsetSm="3">
        <ion-item>
          <ion-label>
            <ion-label position="floating"> First Name </ion-label>
            <ion-input
              type="text"
              ngModel
              name="firstName"
              required
            ></ion-input>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeSm="6" offsetSm="3">
        <ion-item>
          <ion-label>
            <ion-label position="floating"> Last Name </ion-label>
            <ion-input type="text" ngModel name="lastName" required></ion-input>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeSm="6" offsetSm="3">
        <ion-item>
          <ion-label>
            <ion-label position="floating"> Number of Guests </ion-label>
            <ion-select [ngModel]="'2'" name="guestNumber">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
            </ion-select>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeSm="12">
        <ion-item>
          <ion-label position="fixed">From </ion-label>
          <ion-datetime
            display-format="MMM DD YYYY"
            picker-format="YY MMM DD"
            ngModel
            name="date-from"
            #startDateCtrl="ngModel"
          ></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col sizeSm="12">
        <ion-item>
          <!-- TODO: [min] and [max] -->
          <ion-label position="fixed">To </ion-label>
          <ion-datetime
            display-format="MMM DD YYYY"
            picker-format="YY MMM DD"
            ngModel
            name="date-to"
          ></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
  </form>
  <ion-button id="submit-button" (click)="onBookPlace()" color="success"
    >BOOK PLACE</ion-button
  >
</ion-content>
