<ion-item [routerLink]="['/', 'places', 'tabs', 'offers', offer.id]">
  <ion-thumbnail slot="start">
    <ion-img [src]="offer.imageUrl"></ion-img>
  </ion-thumbnail>
  <ion-label>
    <h2>{{ offer.title }}</h2>
    <p>{{ offer.description }}</p>
    <div class="offer-detail">
      <ion-icon color="primary" name="calendar"></ion-icon>
      <ion-text class="space-left" color="primary">
        {{ offer.availableFrom | date }}</ion-text
      >
      <span class="space-left"> - </span>
      <ion-icon class="space-left" color="primary" name="calendar"></ion-icon>
      <ion-text class="space-left" color="primary">
        {{ offer.availableTo | date }}</ion-text
      >
    </div>
  </ion-label>
</ion-item>
